@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

:root {
  font-family: "Lexend", sans-serif;
  background-color: #fcfdfc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1,
p,
* {
  margin: 0;
  padding: 0;
}
